flows.json
[{"id":"a48cb389.f197e","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"84c48690.69b8a8","type":"function","z":"a48cb389.f197e","name":"PreToken","func":"global.set(\"ws\",msg.payload.ws)\nvar apikey=\"C7OC8cov3eqy7-frf_Jr-UY5yt_b4pulu6bLFgYC8XRt\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["cbf9d9d7.97ffc8"]]},{"id":"cbf9d9d7.97ffc8","type":"http request","z":"a48cb389.f197e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":420,"wires":[["2d24fd35.5904c2"]]},{"id":"146abcb7.9b1dc3","type":"inject","z":"a48cb389.f197e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":190,"y":380,"wires":[["84c48690.69b8a8"]]},{"id":"a30d0ef9.98fb9","type":"debug","z":"a48cb389.f197e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1010,"y":220,"wires":[]},{"id":"2d24fd35.5904c2","type":"function","z":"a48cb389.f197e","name":"Pre Prediction","func":"var ws = global.get('ws')\nvar token=msg.payload.access_token\nvar instance_id=\"d060be86-0ef1-4bd2-a9dc-815eac5c9fe6\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"speed1\"], \"values\": [[ws]]}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":420,"wires":[["2b7d4f4b.7e79e"]]},{"id":"2b7d4f4b.7e79e","type":"http request","z":"a48cb389.f197e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/d060be86-0ef1-4bd2-a9dc-815eac5c9fe6/deployments/b929ff1a-c52f-4431-84c7-f84183edf35d/online","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":420,"wires":[["26dac74.b8a7438","dc025a21.be2388"]]},{"id":"e7b261c3.efeed","type":"ui_form","z":"a48cb389.f197e","name":"","label":"","group":"20e5a7b7.fade68","order":1,"width":0,"height":0,"options":[{"label":"Enter the wind speed in (m/s)","value":"ws","type":"number","required":true,"rows":null}],"formValue":{"ws":""},"payload":"","submit":"Predict","cancel":"Clear","topic":"","x":170,"y":440,"wires":[["84c48690.69b8a8"]]},{"id":"dc025a21.be2388","type":"function","z":"a48cb389.f197e","name":"collection","func":"msg.payload=msg.payload.values[0][0][0]\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":280,"wires":[["a30d0ef9.98fb9","88586a51.d97058"]]},{"id":"26dac74.b8a7438","type":"debug","z":"a48cb389.f197e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1030,"y":500,"wires":[]},{"id":"4116ad3f.b15204","type":"debug","z":"a48cb389.f197e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":540,"wires":[]},{"id":"88586a51.d97058","type":"ui_text","z":"a48cb389.f197e","group":"20e5a7b7.fade68","order":2,"width":0,"height":0,"name":"","label":"Predicted power in KW","format":"{{msg.payload}}","layout":"row-spread","x":1060,"y":300,"wires":[]},{"id":"20e5a7b7.fade68","type":"ui_group","z":"","name":"graph","tab":"7d096c7b.cf3f14","order":1,"disp":true,"width":"6","collapse":false},{"id":"7d096c7b.cf3f14","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]